.section_active{
    padding-bottom:  0.5rem;
    padding-left: 0.75rem ;
    padding-right: 0.75rem ;
    font-weight: 900;
    border-bottom: 2px solid #0d9488 !important ;
    color: #0d9488 !important;

}

.section{
    color:#6b7280 ;
}
.section:hover{
    color: #0d9488;
}