<nav class="flex justify-between items-center px-6 py-2 border-b shadow-sm bg-white">
   <button class="lg:hidden text-gray-800" (click)="onToggleSidebar()">
    <i class="fas fa-bars fa-lg"></i>
  </button>
  <h1 class="text-xl font-bold"></h1>
  <div class="flex items-center gap-2">
    <div class="text-right">
      <div class="font-medium">Roy Melvin</div>
      <div class="text-sm text-gray-500">Administrateur</div>
    </div>
    <div class="w-10 h-10 rounded-full bg-gray-200 flex items-center justify-center">
      <i class="fas fa-user text-gray-600"></i>
    </div>
  </div>
</nav>


