.content{
    height: 100vh;
}

.container_left{
    background-image: url("/assets/images/bg cité shekina.jpg");

    div{
        background: linear-gradient(211deg, #029483 0%, #012E29 96.84%);
    }
}

button:hover{
    color: #00a592 !important;
}