<div class="content flex flex-col lg:flex-row min-h-screen">

  <!-- Partie gauche : Image + couleur -->
<div class="container_left w-full lg:w-1/2 relative h-[420px] sm:h-[500px] lg:h-auto  lg:mt-0">
    <div class="absolute inset-0 bg-appgreen mix-blend-hard-light z-10"></div>
    <img src="/assets/images/bg cité shekina.jpg" alt="" class="w-full h-full object-cover absolute inset-0 z-0" />
  </div>

  <!-- Partie droite : Formulaire -->
  <div class="container_right w-full lg:w-1/2 p-6 flex items-center justify-center">
    <div class="w-full max-w-md mt-6 md:mt-12">

      <!-- Logo (masqué sur mobile) -->
      <div class="mb-10 text-right hidden md:block">
        <img src="/assets/images/logo EyangLess.png" alt="logo" class="w-24 inline-block" />
      </div>

      <!-- Titre (masqué sur mobile) -->
      <h2 class="text-3xl md:text-4xl mb-4 font-semibold md:block">
        Connectez-vous à votre compte
      </h2>

      <!-- Texte centré sur mobile -->
      <p class="text-sm text-gray-500 mb-8 text-center md:text-left">
        Veuillez entrer votre adresse mail et votre mot de passe pour vous connecter.
      </p>

      <!-- Formulaire -->
      <form>

        <!-- Email -->
        <div class="flex flex-col space-y-2 mb-4">
          <label for="email" class="font-medium text-gray-700">Email</label>
          <div class="relative">
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Entrez votre email"
              class="w-full p-3 pr-10 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 bg-gray-100"
              [(ngModel)]="email"
            />
            <span class="absolute inset-y-0 right-4 flex items-center pointer-events-none">
              <i class="fas fa-envelope text-gray-500"></i>
            </span>
          </div>
        </div>

        <!-- Mot de passe -->
        <div class="flex flex-col space-y-2 mb-4">
          <label for="password" class="font-medium text-gray-700">Mot de passe</label>
          <div class="relative">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Entrez votre mot de passe"
              class="w-full p-3 pr-10 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 bg-gray-100"
              [(ngModel)]="password"
            />
            <span class="absolute inset-y-0 right-4 flex items-center pointer-events-none">
              <i class="fas fa-lock text-gray-500"></i>
            </span>
          </div>
        </div>

        <!-- Bouton -->
        <button
          class="mx-auto block mt-10 border-2 border-appgreen bg-appgreen text-white py-3 px-10 rounded-full hover:bg-white hover:text-appgreen transition duration-200"
          (click)="login()"
        >
          Connexion
        </button>
      </form>
    </div>
  </div>
</div>


@if(displayErrorMessage){
  <!-- Overlay de fond -->
  <div class="fixed inset-0 bg-black/30 z-40 backdrop-blur-sm"
  (click)="closePopup()"></div>

  <!-- Popup centré -->
  <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center
              bg-white rounded-xl shadow-lg z-50 w-5/6 md:w-1/3 max-h-[80vh] overflow-y-auto">

    <!-- En-tête -->
    <div class="p-4 border-b border-gray-200">
      <h1 class="text-2xl font-semibold text-red-600">{{ errorTitle }}</h1>
    </div>

    <!-- Contenu -->
    <div class="p-4 text-gray-700">
      <p>{{ errorMessage }}</p>
      <span class="text-xs mt-10 block">Cliquer à sur le fond noir pour fermer</span>
    </div>
  </div>
}

